@charset "utf-8";
#location{
	border:solid 1px #CCC;
	background-color:#F5F5F5;
}

#newsdetail{
	border:solid 1px #CCC;
	margin-top:20px;
	margin-bottom:10px;
	background-color:#FFF;
}
#newsdetail .newscontent{
	padding:0px 35px 10px 35px;
	font-size:14px;
	line-height:22px;
	text-justify:inter-ideograph;
	text-align:Justify;
	
}
#newsdetail .newscontent p{
	text-indent:2em;
	margin:5px 0px;
}
.newsdate{
	color:#999;
}
.button{
	border:solid 1px #999;
	background:url(../images/print.gif) no-repeat 5px center;
	padding:5px 5px 5px 25px;
	color:#06C;
}
