@charset "utf-8";
#location{
	border:solid 1px #CCC;
	background-color:#F5F5F5;
}
#location .searchword{
	border:solid 1px #CCC;
	width:220px;
}
#postdetail{
	border:solid 1px #CCC;
}
#postdetail .postcontent{
	padding:10px;
	font-size:14px;
	line-height:18px;
	border-top:dotted 1px #CCC;
}
.xian{
	border-bottom:solid 1px #CCC;
}
.xian_top{
	border-top:solid 1px #CCC;
}
.kuai{
	border:solid 1px #CCC;
	background-color:#F0F0F0;
}
.team {
    position: relative;
    left:70%;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.team input {
    position: relative;
    left:50%;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.team:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}
a.pj{
	color:#06C;
	text-decoration:none;
}
a.pj:hover{
	color:#F60;
	text-decoration:underline;
}
.reply{
	border:solid 1px #CCC;
	margin-top:10px;
}
.page{
	font-size:11px;
	border:solid 1px #ccc;
	border-right:none;
	text-align:center;
	width:50px;
	padding:0px;
	height:18px;
}
.pagebtn{
	font-size:12px;
	color:#F60;
	border:solid 1px #ccc;
	border-left:none;
	background-color:#DDD;
	text-align:center;
	padding:0px;
	width:30px;
	height:20px;
}