@charset "utf-8";
#location{
	border:solid 1px #CCC;
	background-color:#F5F5F5;
	
}
#location .searchword{
	border:solid 1px #CCC;
	width:220px;
}

#userarea{
	border:solid 1px #CCC;
	background-color:#EFEFEF;
	margin-top:10px;
}

#userphoto{
	border:dotted 1px #CCC;
}
#userphoto .photo{
	max-width:120px;
	max-height:120px;
}

#uploadarea{
	
}